body {
    background-color: grey;
}

.alignItensLogo {
    align-items: center;
}
.backgroundAzul {
    background-color: #004A8D;
    color: #F7941D;
    font-weight: bolder;
}

.btnOrange {
    background-color: #F7941D;
}

.margin_button {
    margin-top: 142px;
}

.paddingRegistro {
    padding-top: 150px;
}