body {
    background-color: grey;
}

.alignItensLogo {
    align-items: center;
}
.backgroundAzul {
    background-color: #004A8D;
    color: #F7941D;
    font-weight: bolder;
}

.btnOrange {
    background-color: #F7941D;
}

.margin_button {
    margin-top: 142px;
}

.paddingRegistro {
    padding-top: 150px;
}

footer {
    background-color:#004a8d;
    color: white;
  }
  
  @media (max-width: 767px) {
    .fixed-bottom {
      position: relative;
      margin-top: 0% ;
    }
  }